<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-nav-demo"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand"
        ><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        IMGS</a
      >
    </div>
    <div class="collapse navbar-collapse" id="bs-nav-demo">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In </a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>
      <i class="fa fa-camera-retro" aria-hidden="true"></i> The Image Gallery
    </h1>
    <p>
      A bunch if tremendous images I did not take, well someone talented did.
    </p>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img
          src="https://images.pexels.com/photos/840326/pexels-photo-840326.jpeg?     auto=compress&cs=tinysrgb&dpr=2&h=650&w=9  40"
        />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img
          src="https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"
        />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img
          src="https://images.pexels.com/photos/122334/pexels-photo-122334.jpeg?cs=srgb&dl=bloom-blossom-daisy-122334.jpg&fm=jpg"
        />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img
          src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=940&h=650&auto=compress&cs=tinysrgb"
        />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img
          src="https://images.pexels.com/photos/933701/pexels-photo-933701.jpeg?cs=srgb&dl=blue-water-clear-water-liquid-933701.jpg&fm=jpg"
        />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img
          src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"
        />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img
          src="https://images.pexels.com/photos/948887/pexels-photo-948887.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img
          src="https://images.pexels.com/photos/951539/pexels-photo-951539.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img
          src="https://images.pexels.com/photos/340932/pexels-photo-340932.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        />
      </div>
    </div>
  </div>
</div>
