<header class="header-section">
  <div class="header-warp">
    <!-- logo -->
    <a href="index.html" class="site-logo">
      <img src="img/logo.png" alt="" />
    </a>
    <div class="header-social">
      <a href=""><i class="fa fa-pinterest"></i></a>
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-twitter"></i></a>
      <a href=""><i class="fa fa-dribbble"></i></a>
      <a href=""><i class="fa fa-behance"></i></a>
    </div>
    <div class="nav-switch">
      <i class="fa fa-bars"></i>
    </div>
    <!-- menu -->
    <ul class="main-menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="home-2.html">About the Artist</a></li>
      <li><a href="portfolio.html">Portfolio</a></li>
      <li><a href="blog.html">News</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
</header>
<div class="clear-fix"></div>
